/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */

body {
    background: rgb(72, 72, 72);
    font-family: roboto;
}

/* Estilos del header */

header {
    display: none;
}

/* Estilos del main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
}

main h2 {
    margin: 1rem;
}

main h2 span {
    display: block;
}

main .button {
    background-color: #51b0df;
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    color: whitesmoke;
    box-shadow: 3px 3px 10px black;
}

main img {
    width: 60%;
}

/* Estilos de section */

section {
    display: none;
}

/* Estilos footer */

footer h4 {
    text-align: center;
}

/* Pantallas de tablet */

@media screen and (min-width:600px){
    /* estilos header */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 1rem;
        padding: 0.7rem;
    }

    header nav ul {
        list-style: none;
        display: flex;
        gap: 1rem;
        
    }

    header nav ul li{
        font-weight: bold;
    }

    /* Estilos de section */

    section {
        display: flex;
        background-color: #bee0f1;
        padding: 1rem;
        gap: 0.5rem;
    }

    section div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        animation-name: animacion-div;
        animation-iteration-count: infinite;
        animation-duration: 2s;
    }

    @keyframes animacion-div {
        0% {
            transform: scale(0.5);
            background-color: black;
        }
        50% {
            transform: scale(0.8);
            background-color: red;
        }
        100% {
            transform: scale(1.2);
            background-color: yellow;
        }
    }

    section div img {
        width: 20%;
    }

    footer {
        margin-top: 0.5rem;
    }
}

/* Estilos de pantallas de escritorios */

@media screen and (min-width:1024px) {

    /* estilos del menu */

    header nav ul li {
        transition: 3s;
    }
    
    header nav ul li:hover {
        transform: scale(1.1);
        /* box-shadow: 1px 1px 2px black; */
        transition: 3s;
    }

    /* Estilos de main */

    main {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "p img"
        "h2 img"
        "p-dos img"
        "button img";
        justify-content: center;
        justify-items: center;
    }

    main h2 {
        grid-area: h2;
    }

    main img {
        grid-area: img;
    }

    main img:hover {
        filter: drop-shadow(10px 10px 10px);
    }

    main p {
        grid-area: p;
        width: 70%;
    }

    main .p-dos {
        grid-area: p-dos;
    }

    main .button {
        grid-area: button;
    }

    main .button:hover {
        box-shadow: 2px 2px 3px black;
    }

    /* Estilos de footer */

    footer {
        margin: 1.5rem 0;
    }
}